.App {
	background-color: #eee;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 25px;
}

.link-button {
	padding: 15px;
	border-radius: 15px;
	border: 1px solid black;
	min-width: 300px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 10px;
}
.link-button:hover {
	background-color: rgb(175, 170, 170);
	cursor: pointer;
}

.link-button__icon {
	width: 50px;
	height: 50px;
}

.home-button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding: 5px;
	position: fixed;
	left: 15px;
	top: 15px;
}

.home-button:hover {
	background-color: rgb(175, 170, 170);
}

.author-form {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.author-form input {
	width: 30%;
	margin: 10px;
}

.author-form label {
	margin: 10px;
}

.author-form button {
	padding: 10px;
	font-size: large;
	margin: 10px;
}
