.App {
	background-color: #eee;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
}

.author-form {
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.author-form input {
	width: 30%;
	margin: 10px;
}

.author-form label {
	margin: 10px;
}

.author-form button {
	padding: 10px;
	font-size: large;
	margin: 10px;
}
