@use './blocks//buttons';
@use './blocks/component.scss';
@use './blocks/form';
@use './blocks/grid-container';
@use './blocks/details';

@include buttons.block;
@include component.block;
@include form.block;
@include grid-container.block;
@include details.block;
.App {
	background-color: #eee;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../assets/background.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
