@use '../global/variables';
@use '../global/borders';

@mixin block {
	.books-containter {
		width: 80%;
		height: 80%;
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-gap: 10px;
		column-gap: 10px;
		background-color: variables.$color_main_color-alpha_0_2;
		padding: 10px;
		@include borders.border-clear;
		box-sizing: border-box;
		.book-containter {
			height: fit-content;

			@include borders.border-solid;
			background-color: variables.$color_main_color-alpha_0_5;
			&__item {
				box-sizing: border-box;
				width: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				padding: 0 1rem;
				&_header {
					font-size: 1.2rem;
					font-weight: 700;
				}
				&_value {
					font-size: 1.1rem;
					word-break: break-all;
					text-overflow: ellipsis;
				}
			}
		}
	}
}
