@use '../global/borders';
@use '../global/variables';

@mixin block {
	.form {
		width: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: fit-content;
		padding: 1rem 0;
		background-color: variables.$color_main_color-alpha_0_5;
		@include borders.border-clear;
		& * {
			margin: 0.2rem 0;
		}

		& label {
			font-size: 1.2rem;
		}

		& select {
			width: 50%;
			padding: 5px;
			border-radius: 5px;
		}

		& input {
			padding: 5px;
			border-radius: 5px;
		}

		& button {
			padding: 5px;
			border-radius: 5px;
			background-color: variables.$color_positive;
		}
	}
}
